<div class="chat-messages">
    <div class="chat-messages-show-container">
        <ul class="chat-messages-show-list" id="message-list">
        </ul>
    </div>
    <div class="chat-messages-create-container">
        <form [formGroup]="personalDetails">
            <div class="row">
                <div class="col-md-11 mg-t--1 mg-md-t-0">
                    <input class="chat-messages-create-input" formControlName="firstname" [(ngModel)]="message" placeholder="type your message" matNativeControl autocomplete="off">
                </div>

                <div class="col-lg-1">
                    <span (click)="SendMessage()"><mat-icon style="margin-top: 10px;">send</mat-icon></span>
                    <!-- <button class="chat-messages-create-button" (click)="SendMessage()"> Send </button> -->
                    <!-- <button mat-button class="chat-messages-create-button" (click)="SendMessage()">Send</button> -->
                    <!-- <button mat-flat-button class="send_btn" (click)="SendMessage()">Send</button> -->
                </div>
            </div>
        </form>
    </div>
</div>