.chat-messages-show-container {
    background: #02195e;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.chat-messages-show-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.chat-messages-create-container {
    background: #fff;
    height: 50px;
    border: solid 2px #02195e;
    /* display: flex; */
    /* justify-content: center; */
}

.chat-messages-create-input {
    padding: 12px;
    /* margin: 29px 30px; */
    flex: 2
}

.chat-messages-create-button {
    height: 50px;
    margin: auto 40px;
    width: 100px;
}