<div class="mnu">
    <div class="container">
        <div class="row">
            <!-- <div class="col-sm-2">
                <img src="../../assets/HindujaTech.jpg" style="margin-left: -90px; margin-top: 25px;">
            </div>
            <div class="col-sm-1" style="margin-left: -200px;">
                <mat-divider vertical style="height: 125px;"></mat-divider>
            </div> -->
            <div class="col-sm-2" style="margin-left: -60px;">
                <img src="../../assets/gim_logo.png" style="width: 105px; margin-top: 6px;">
                <!-- <img src="http://ideal.hindujatech.com/img/idealLogo.png" class="logo_ideal"> -->
            </div>
            <div class="offset-lg-7 col-sm-2">
                <button mat-icon-button [matMenuTriggerFor]="menu" style="padding: 9px; margin-left: 220px; margin-top: 30px;">
                    <mat-icon style="margin-left: -15px;">account_circle</mat-icon>
                    <span style="margin-left: 9px" >{{user_name}}</span>
                </button>
                <div class="myprofile">
                    <mat-menu #menu="matMenu" style="margin-left: 60px; margin-top: 10px;">
                        <ng-container *ngIf="user.is_manager == true">
                            <button mat-menu-item>
                            <mat-slide-toggle [checked]="managerTgl" (change)="toggle1($event)" style="margin-left: -12px;width: 130px;display: table !important">Switch To Manager</mat-slide-toggle>
                        </button>
                        </ng-container>
                        <ng-container *ngIf="user.is_img == true">
                            <button mat-menu-item>
                            <mat-slide-toggle [checked]="imgTgl" (change)="toggle2($event)" style="margin-left: -10px;width: 130px;display: table !important">Switch To IMG Team</mat-slide-toggle>
                        </button>
                        </ng-container>
                        <!-- <ng-container *ngIf="user.is_img == true">
                        <button mat-menu-item>
                            <mat-slide-toggle [checked]="imgTgl" (change)="toggle2($event)"> Switch to IMG Team</mat-slide-toggle>
                        </button>
                    </ng-container> -->
                        <button mat-menu-item (click)="logOut()">
                            <mat-icon>input</mat-icon>
                            <span >Logout</span>
                      </button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </div>
</div>